body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.top {
    position:  absolute;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #ffe4e1;
}

.top h1 {
    color: black;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 92px;
    bottom: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}


.sidenav a:hover {
    color: #f1f1f1;
}

#content {
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: margin-left .5s;
    padding: 16px;
    background: url("./imgs/pencil.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    

}

#navBtn {
    position: fixed;
}


.slide1 h1 {
    text-align: center;
    color: white;
}

.slide1 p {
    text-align: center;
    line-height: 2;
    color: white;
}

@media screen and (max-height: 450px) 
    and (max-width: 450px) {
        .sidenav {padding-top: 75px;}
        .sidenav a {font-size: 18px;}
    }